* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.myheader {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #5b6064;
}
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 36px;
  margin-right: 36px;
}
.top-logo {
  width: 80px;
}
.items {
  flex-grow: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;

  margin-left: 200px;
}

.part-1img {
  width: 280px;
  height: 350px;
  object-fit: cover;
}
.part-1 {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.part-1-right-maintext {
  font-size: 36px;
}
.part-1-right-subtext {
  font-size: 14px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.part-1-right-email {
  background-color: white;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.part-1-right-email-button {
  padding: 10px 23px;
  background-color: aquamarine;
  border: 0;
  color: rgb(27, 27, 24);
}
.part-1-right-email-input {
  border: none;
  flex-grow: 1;
}
.part-1-right-email-logo {
  margin-left: 5px;
  margin-right: 5px;
}
.main-part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allreports {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.reports {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reports h4 {
  font-size: 30px;
}
.reports h6 {
  font-size: 16px;
}
.imagetwocontainer {
  width: 70vw;
  height: 450px;
  overflow: hidden;
}
.imagetwo {
  width: 70vw;
  object-fit: cover;
}
.main-part-1-desc {
  margin-top: 60px;
  font-size: 36px;
  text-align: center;
}
.main-part-2 {
  margin-top: 56px;
  margin-bottom: 56px;
  font-size: 36px;
  text-align: center;
}
.main-card-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 56px;
}
.main-card-1-right {
  width: 25vw;
  overflow: hidden;
}
.main-card-1-right img {
  width: 40vw;
  object-fit: cover;
  object-position: -170px;
  background-color: aqua;
}
.main-card-1-left h4 {
  font-size: 36px;
}
.main-card-1-left h6 {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 16px;
}
.main-card-1-left button {
  border: none;
  padding: 10px 30px;
  background-color: aqua;
  color: white;
}
.main-part-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
}
.main-part-3 h4 {
  font-size: 36px;
}
.main-part-3 h6 {
  font-size: 16px;
}
.main-part-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 36px;
}
.main-part-4-card-1 img {
  width: 250px;
}
.main-part-4-card-1 h4 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.main-part-5 {
  width: fit-content;
  background-color: aqua;
  margin: 36px auto 76px auto;
}
.main-part-5-btn {
  color: wheat;
  padding: 10px 30px;
  background-color: #5b6064;
  border: none;
}
.myfooter {
  background-color: black;
}
.myfooter-part-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
}
.myfooter-part-1-one {
  width: 100px;
}
.myfooter-part-1-two {
  width: 200px;
}
.horizontal-line {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(34, 34, 34);
  padding: 0;
  margin-bottom: 52px;
}
.footer-main {
  color: rgb(138, 138, 138);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 52px;
}
.subcontainer > :nth-of-type(1) {
  color: white;
}
.subcontainer div {
  margin-top: 10px;
  margin-bottom: 10px;
}
