/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Raleway", sans-serif;
}

.myheader {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #636c79;
}
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 36px;
  margin-right: 36px;
}
.top-logo {
  width: 80px;
}
.items {
  flex-grow: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;

  margin-left: 200px;
  font-family: "Raleway", sans-serif;
  color: white;
}
.letstalk {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 7px 25px;
  border: 1px solid #788291;
}
.part-1img {
  width: 280px;
  height: 350px;
  object-fit: cover;
}
.part-1 {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.part-1-right-maintext {
  font-size: 36px;
  color: white;
}
.part-1-right-subtext {
  font-size: 14px;
  margin-top: 36px;
  margin-bottom: 36px;
  color: white;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}
.part-1-right-email {
  background-color: white;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.std-button {
  border: none;
  background-color: #8bb7a2;
  color: white;
  font-weight: 600;
}
.part-1-right-email-button {
  padding: 10px 23px;
}
.part-1-right-email-input {
  border: none;
  flex-grow: 1;
}
.part-1-right-email-logo {
  margin-left: 5px;
  margin-right: 5px;
}
.main-part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allreports {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.allreports h4 {
  font-family: "Open Sans", sans-serif;
}
.allreports h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.reports {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reports h4 {
  font-size: 30px;
}
.reports h6 {
  font-size: 16px;
}
.imagetwocontainer {
  width: 70vw;
  height: 360px;
  overflow: hidden;
}
.imagetwo {
  width: 70vw;
  object-fit: cover;
}
.main-part-1-desc {
  margin-top: 60px;
  font-size: 36px;
  text-align: center;
}
.main-part-2 {
  margin-top: 56px;
  margin-bottom: 56px;
  font-size: 36px;
  text-align: center;
}
.main-card-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  margin-left: 36px;
  margin-right: 36px;
}
.main-card-1-right {
  width: 450px;
  height: 453px;
  /* width: 400px; */
  overflow: hidden;
  direction: rtl;
}
.main-card-1-right img {
  width: 670px;
  object-fit: cover;
}
.main-card-2-right {
  width: 450px;
  height: 453px;
  overflow: hidden;
}
.main-card-2-right img {
  width: 450px;
  height: 633px;
  object-fit: cover;
}
.main-card-3-right {
  width: 450px;
  height: 453px;
  overflow: hidden;
}
.main-card-3-right img {
  width: 500px;
  height: 453px;
  object-fit: cover;
}

.main-card-1-left h4 {
  font-size: 36px;
}
.main-card-1-left h6 {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.main-card-1-left button {
  padding: 10px 30px;
  border: none;
  background-color: #8bb7a2;
  color: white;
  font-weight: 600;
}
.main-part-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
}
.main-part-3 h4 {
  font-size: 36px;
}
.main-part-3 h6 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.main-part-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 36px;
}

.main-part-4-card-1 h4 {
  margin-top: 18px;
  margin-bottom: 18px;
}
.main-part-4-card-1 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.part-4-card-1-card-1 {
  width: 250px;
  height: 310px;
  overflow: hidden;
}
.part-4-card-1-card-1 img {
  width: 250px;
  height: 380px;
  object-fit: cover;
}
.part-4-card-1-card-2 {
  width: 250px;
  height: 310px;
  overflow: hidden;
}
.part-4-card-1-card-2 img {
  width: 250px;
  height: 310px;

  object-fit: cover;
}
.part-4-card-1-card-3 {
  width: 250px;
  height: 310px;
  overflow: hidden;
}
.part-4-card-1-card-3 img {
  width: 250px;
  height: 310px;
  object-fit: cover;
}
.main-part-5 {
  width: fit-content;

  margin: 36px auto 76px auto;
}
.main-part-5-btn {
  padding: 10px 30px;
}
.myfooter {
  background-color: black;
}
.myfooter-part-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
}
.myfooter-part-1-one {
  width: 100px;
}
.myfooter-part-1-two {
  width: 200px;
}
.horizontal-line {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(34, 34, 34);
  padding: 0;
  margin-bottom: 52px;
}
.footer-main {
  color: rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 52px;
}

.subcontainer div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}
.subcontainer-1 h4 {
  font-size: 14px;
  color: white;
  font-weight: 600;
}
